.productDetail-container {
  display: flex;
  justify-content: center;
  align-self: center;

  .productDetail-wrapper {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 8%;
    width: 75%;
    height: 600px;
    background-color: white;
    border-radius: 10px;

    .productDetail-infos {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 10px;
      .productDetail-name {
        font-size: 2.5rem;
      }

      .productDetail-button {
        background-color: rgb(136, 20, 136);
        color: white;
        width: 100%;
        border: none;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 10px;
        cursor: pointer;
        font-size: 22px;
        font-weight: bold;
      }
      .productDetail-price {
        color: rgb(136, 20, 136);
        font-weight: bold;
        font-size: 2.5rem;
      }
      .productDetail-desc {
        font-size: 1.3rem;
      }
    }
  }
}

@media (max-width: 1440px) {
  .productDetail-container {
    .productDetail-wrapper {
      width: 90%;
      height: 600px;
      .productDetail-image {
        width: 60%;
      }
      .productDetail-infos {
        .productDetail-desc {
          font-size: 12px;
        }

        .productDetail-name {
          font-size: 2rem;
        }
        .productDetail-desc {
          font-size: 0.8rem;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .productDetail-container {
    .productDetail-wrapper {
      flex-direction: column;
      align-items: center;
      margin-top: 5px;
      width: 300px;
      min-height: 500px;

      .productDetail-infos {
        .productDetail-price {
          font-size: 1.2rem;
        }
        .productDetail-name {
          font-size: 1.2rem;
        }
        .productDetail-desc {
          font-size: 0.7rem;
        }

        .productDetail-button {
          padding: 8px;
          margin-bottom: 10px;
          font-size: 16px;
        }
      }
    }
  }
}

@media (max-width: 320px) {
  .productDetail-container {
    .productDetail-wrapper {
      flex-direction: column;
      align-items: center;
      margin-top: 5px;
      width: 300px;
      height: 500px;

      .productDetail-image {
        width: 100px;
        height: 100px;
      }

      .productDetail-infos {
        .productDetail-price {
          font-size: 1.2rem;
        }
        .productDetail-name {
          font-size: 1.2rem;
        }
        .productDetail-desc {
          font-size: 0.7rem;
        }

        .productDetail-button {
          padding: 8px;
          margin-bottom: 10px;
          font-size: 16px;
        }
      }
    }
  }
}
